<nav class="navbar is-light">
    <div class="navbar-brand">
      <a class="navbar-item" href="/">
        <img src="/chanlogo1.png" alt="" width="70" height="28">
      </a>
        <button><a href= "/user/login">Login</a></button>

      <div class="navbar-burger burger" data-target="navMenu">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>

    <!-- <div class="navbar-menu" id="navMenu">

    </div> --> 
      
  </nav>
   




