
<nav class="navbar is-light is-fixed-top" >

<div class="navbar-brand">

  <a class="navbar-item" href="/menu/timeline/1">
    <img src="/chanlogo1.png" alt="" width="70" height="28">
  </a>
<button> <a href ="/user/logout">Logout</a></button>
  <div class="navbar-burger burger" data-target="navMenu">
    <span></span>
    <span></span>
    <span></span>
  </div>
</div>

<!-- <div class="navbar-menu" id="navMenu">

</div> -->
  <div class="navbar-end">
    <div class="navbar-item">
      <div class="autocomplete">
      <form autocomplete="off" action="/menu/search" method="POST">
        <input class="input is-rounded" id="myInput" type="text" name="username" placeholder="Search Username" >
        <button style="position: absolute; top: -999px;left: -999px;width: 0px;height: 0px;" type="submit">
<<<<<<< HEAD
      <form></form>
=======
      </form>
>>>>>>> 39575721e92234bb3cf1d3b1a1bc49584864451b
      </div>
    </div>
  </div>  
</nav>


<%- include('../partials/autocomplete', {users: users}) %>