<nav class="navbar is-warning" style="font-size: 16px !important;">
    <div class="navbar-brand">
      <img src="/chanlogo1.png" alt="chanchan" width="70" >
    </div>
    <!-- <a class="navbar-item" href="" style="font-size: 16px !important;">
      
      
    </a> -->
    <div id="navMenuColorprimary-example" class="navbar-menu" style="font-size: 16px !important; line-height: 24px !important;">
      
      <a href="/home" class="navbar-item white" style="font-size: 16px !important;">
      Home</a>
    </div>
  
  
  </nav>
  
  