
<nav class="navbar is-light">
<div class="navbar-brand">
  <a class="navbar-item" href="/">
    <img src="/chanlogo1.png" alt="" width="70" height="28">
  </a>

  <div class="navbar-burger burger" data-target="navMenu">
    <span></span>
    <span></span>
    <span></span>
  </div>
</div>

<!-- <div class="navbar-menu" id="navMenu">

</div> -->
  <div class="navbar-end">
    <div class="navbar-item">
      <div class="autocomplete">
      <form autocomplete="off" action="/" method="POST">
        <input class="input is-rounded" id="myInput" type="text" name="username" placeholder="Search Username">
        <input type='submit'>
      </form>
      </div>
    </div>
  </div>
  
</nav>
<%- include('../partials/autocomplete', {users: users}) %>




