<nav class="navbar is-light">
    <div class="navbar-brand">
      <a class="navbar-item" href="">
        <img src="/chanlogo1.png" alt="" width="70" height="28">
      </a>
  
      <div class="navbar-burger burger" data-target="navMenu">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>

    <!-- <div class="navbar-menu" id="navMenu">

    </div> -->
          
      <div class="navbar-end">
        <div class="navbar-item">
          <form action="/" method="">
            <input class="input is-rounded" type="text" placeholder="Search" name="search">
          </form>
        </div>
        <div class="navbar-item">
          <p class="control" style="font-size: 16px !important;">
              <input class="input" type="text" placeholder="Find a post" style="font-size: 16px !important;">
            </p>
            <p class="control" style="font-size: 16px !important; line-height: 24px !important;">
              <button class="button" style="font-size: 16px !important; line-height: 24px !important;">
                Search
              </button>
            </p>
        </div>
      </div>
  </nav>
