<nav class="pagination" role="navigation" aria-label="pagination">
  <!-- <div class="level"> -->
    <!-- <div class="level-item has-text-centered" style=" display: flex;align-items: center;"> -->
      <div class="has-text-centered">
      <a class="pagination-previous" href="/menu/timeline/<%= +page - 1%>">Previous</a>
      <a class="pagination-next" href="/menu/timeline/<%= +page + 1%>">Next page</a>
    </div>
        <!-- <div class="has-text-center"> -->

      <!-- </div> -->
    <!-- </div> -->
    
  <!-- </div> -->
  </nav>