<!-- <div class="container"> -->

<div class="columns is-multiline is-mobile">
  <div class="column is-one-quarter">
      <form action="/menu" method="POST" enctype="multipart/form-data">
      <textarea class="textarea is-primary" name="text" placeholder="Write something about you"></textarea>
      <div class="file">
          <label class="file-label">
          <input class="file-input" type="file" name="photo" />
            <span class="file-cta">
              <span class="file-icon">
                <i class="fas fa-upload"></i>
              </span>
              <span class="file-label">
                Input ur photo...
              </span>
            </span>
          </label>
        </div>
      <button type="submit" class="button is-primary">Submit</button>
    </form>
</div>
<!-- </div> -->