<!-- <div class="container"> -->


<div class="columns is-multiline is-mobile">
  <div class="column is-one-quarter">
    <form action="/" method="POST">
      <textarea class="textarea is-primary" name="post" id="post" placeholder="Write something about you"></textarea>
      <button type="submit" class="button is-primary">Submit</button>
    </form>
  </div>
  <div class="column">

  </div>
</div>
<!-- </div> -->