<!-- <div class="container"> -->

<div class="flex-row">
  <div class="column is-one-quarter">
      <form action="/menu" method="POST" enctype="multipart/form-data">
      <textarea class="textarea is-primary" name="text" placeholder="Write something about you"></textarea>
      <div class="image-upload">
          <label for="file-input">
              <a class="btn btn-trans btn-icon fa fa-camera add-tooltip" href="#" data-original-title="Add Photo" data-toggle="tooltip"></a>
          </label>
          <input style="display: none"id="file-input" name="photo" type="file"/>
      </div>
      <button type="submit" class="button is-primary">Submit</button>
    </form>
</div>
<!-- </div> -->