<!DOCTYPE html>
<html>
<head>
    <% include ../partials/friend-req-style%>
</head>

<body>
<div class="col-xl-6">
    <!--begin:: Widgets/User Progress -->
    <div class="m-portlet m-portlet--full-height ">
    <%if (request) {
        request.forEach(req => {
            if (req.response !== 'true') {%>
                    <div class="m-portlet__body">
                    <div class="tab-content">
                        <div class="tab-pane active" id="m_widget4_tab1_content">
                            <div class="m-widget4 m-widget4--progress">
                                <div class="m-widget4__item">
                                    <div class="m-widget4__img m-widget4__img--pic">
                                        <img src="http://bootdey.com/img/Content/avatar/avatar5.png" alt="">
                                    </div>
                                    <div class="m-widget4__info">
                                        <span class="m-widget4__title">
                                            <%= req.User.name %>
                                        </span>
                                    </div>
                                    <div class="m-widget4__progress">
                                        <div class="m-widget4__progress-wrapper">
                                            <div class="progress m-progress--sm">
                                                <div class="progress-bar bg-danger" role="progressbar" style="width: 63%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="63"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="m-widget4__ext">
                                        <a href="/menu/friendrequest/accept/<%= req.UserId%>" class="m-btn m-btn--hover-brand m-btn--pill btn btn-sm btn-secondary">
                                            Accept
                                        </a>
                                        <a href="/menu/friendrequest/decline/<%= req.UserId%>" class="m-btn m-btn--hover-brand m-btn--pill btn btn-sm btn-secondary">
                                            Decline
                                        </a>
                                    </div>
                                </div>
                
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="m_widget4_tab2_content"></div>
                        <div class="tab-pane" id="m_widget4_tab3_content"></div>
                    </div>
                </div>
            <%}
            })}%>

		
	</div>
	<!--end:: Widgets/User Progress -->
</div>
</body>

</html>