<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../partials/head %>
  <title>Home</title>
</head>
<body>
  
  <!-- Good luck -->
  <!-- form buat post twit -->
  <div class="container">

    <form action="/" method="POST">

      <div class="columns is-multiline is-mobile">
        <div class="column is-one-quarter">
            <textarea class="textarea is-primary" name="post" id="post" placeholder="Write something about you"></textarea>
        </div>
        <div class="column">

        </div>
      </div>
      <button type="submit" class="button is-primary">Submit</button>
    </form>
  </div>
</body>
</html>
