<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../partials/head %>
  <title>Login</title>
</head>
<body>
  
  <% include ../partials/navbar %>

  <div class="container is-fluid">
    
    <form action="" method="POST">
      <div class="row">
  
        <div class="columns is-mobile">
            <div class="column is-4">
              <div class="field">
                <label for="username">Username</label>
                  <p class="control has-icons-left">
                    <input class="input" type="text" placeholder="Username" name="username">
                    <span class="icon is-small is-left">
                      <i class="fas fa-lock"></i>
                    </span>
                  </p>
                </div>
            </div>
          </div>

      <div class="row">
  
        <div class="columns is-mobile">
            <div class="column is-4">
              <div class="field">
                <label for="password">Password</label>
                  <p class="control has-icons-left">
                    <input class="input" type="password" placeholder="Password" name="password">
                    <span class="icon is-small is-left">
                      <i class="fas fa-lock"></i>
                    </span>
                  </p>
                </div>
            </div>
          </div>
      </div>

      <br>
      <button type="submit" class="button is-primary">Submit</button>
    </form>

  </div>

</body>
</html>