<!DOCTYPE html>
<head>
  <% include ../partials/head %>
  <title>User Menu</title>
</head>
<body>

  <!-- <div class="container">
      <div class="columns is-multiline is-mobile">
          <div class="column is-one-quarter">
            <form action="/menu" method="POST" enctype="multipart/form-data">
              <input type="text" name="text">
              <button type="submit" class="button is-primary">Submit</button>
              <input type="file" name="photo" id="">
            </form>
        </div>
      </div>
  </div> -->

  <% include ../partials/posting %>
    
</body>
</html>